@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

body {
	margin-top: 20px;
	background-color: #eff5f9;
	font-family: 'Montserrat', sans-serif;
}
hr {
	height:1px;
	border:none;
	color: #33C3F0;
	background-color: #33C3F0;
}

hr#two {
	height: 4px;
}
li {
	padding: 5px;
	background-color: #d3ebf2;	
}
li:hover {
	background-color: #deeef2;
}
li button {
	color: #33C3F0;
   }
li button:hover {
       color: red;       
   }
   
button#project2 {
	background-color: #d16fd8;
}
button#project3 {
	background-color: #65d083;
}

#adder:hover {
	background-color: #b1e0ee;
	color: #fff;
}
ul {
  list-style-type: none; 
}



