body {
	margin-top: 20px;
	background-color: #eff5f9;
}
hr {
	height:1px;
	border:none;
	color: #33C3F0;
	background-color: #33C3F0;
}

hr#two {
	height: 2px;
}
li {
	padding: 5px;
	background-color: #d3ebf2;
}
li:hover {
	background-color: #deeef2;
}
li button {
	color: white;       
   }
li button:hover {
       color: red;       
   }
   